*{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4rem 10rem auto;
}

.header{
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    padding-inline: 2.2rem;
    grid-row: 1/2;
}

.header .busqueda{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.busqueda > img{
    height: 2rem;
    width: auto;
}

.busqueda > input{
    width: 25rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 20px;
}

.header .notificacion{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding-right: 2rem;
}

.notificacion .campana > img{
    height: 2rem;
    width: auto;
}

.notificacion .avatar1 > img{
    height: 3rem;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

.notificacion > p{
    font-size: 1.3rem;
    font-weight: bold;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 5rem 30rem 12rem;
    align-items: center;
    background-color: rgb(5, 206, 5);
}

.sidebar .dashboard1{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 3rem;
}

.dashboard1 > img{
    height: 4.5rem;
    width: auto;
    filter: invert(1);
}

.dashboard1 > p{
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.sidebar .dashboard2{
    display: flex;
    flex-direction: column;
}

.sidebar .dashboard2 > div{
    display: flex;
    gap: 1.6rem;
    padding-left: 1.3rem;
    align-items: center;
}

.dashboard2 > div > p{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.dashboard2 > div > img{
    height: 3.2rem;
    width: auto;
    filter: invert(1);
}

.sidebar .dashboard3{
    display: flex;
    flex-direction: column;
}

.sidebar .dashboard3 > div{
    display: flex;
    gap: 1.6rem;
    padding-left: 1.3rem;
    align-items: center;
}

.dashboard3 > div > p{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.dashboard3 > div > img {
    height: 3.2rem;
    width: auto;
    filter: invert(1);
}

.nav{
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    padding-inline: 2.2rem;
    grid-row: 2/3;
}

.nav .perfil{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.perfil > img{
    height: 9rem;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

.perfil > div > p{
    font-size: 20px;
}

.perfil > div > h2{
    font-size: 25px;
}

.nav .botones{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-right: 2rem;
}

.botones button {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-inline: 2rem;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 1.1rem;
    background-color: orange;
    font-weight: 800;
    color: white;
}

.article{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.2rem;
    padding-right: 2.2rem;
    padding-left: 1rem;
    column-gap: 4rem;
    background-color: rgb(243, 240, 240);
}

.article .proyects{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1/3;
    grid-template-rows: 3rem repeat(3,auto);
    gap: 1rem;
}

.proyects > p{
    font-size: 25px;
    grid-column: 1/3;
    margin-top: 1rem;
    margin-left: 1.2rem;
}

.proyects .card{
    display: grid;
    grid-template-columns: 1fr 30fr;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.card .color{
    grid-column: 1/2;
    background-color: orange;
}

.card .contenido{
    grid-column: 2/3;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenido > h3{
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 1rem;
}

.contenido > p {
    font-size: 19px;
    margin-top: 0;
    text-align: justify;
    margin-inline: 1.5rem;
}

.contenido > div{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 1.3rem;
    padding-right: 1rem;
}

.contenido > div > img{
    height: 1.7rem;
    width: auto;
}

.article .announcements{
    grid-column: 2/3;
    display: grid;
    grid-row: 1/2;
    grid-template-rows: 3rem auto;
    gap: 0.4rem;
}

#primero{
    margin-top: 0.6rem;
}

.announcements .anuncio{
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    border: 1px solid black;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    background-color: white;
}

.anuncio > h3{
    font-size: 18px;
    margin: 0;
}

.anuncio > p{
    font-size: 16px;
    text-align: justify;
}

.announcements > p{
    font-size: 25px;
    margin-top: 1rem;
}

.article .Trendings{
    grid-column: 2/3;
    display: grid;
    grid-row: 2/3;
    grid-template-rows: 3rem auto;
    gap: 0.4rem;
    align-items: center;
}

.Trendings .friends{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.Trendings > p{
    font-size: 25px; 
}

.friends > img{
    height: 5rem;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 2rem;
}
