*{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 11rem auto;
}

.header{
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    padding-inline: 2.2rem;
    border: 1px solid green;
    grid-row: 1/2;
}

.header .busqueda{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.busqueda > img{
    height: 2rem;
    width: auto;
}

.busqueda > input{
    width: 25rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 20px;
}

.header .notificacion{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.notificacion .campana > img{
    height: 2rem;
    width: auto;
}

.notificacion .avatar1 > img{
    height: 3rem;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

.notificacion > p{
    font-size: 1.3rem;
    font-weight: bold;
}

.sidebar{
    border: 1px solid blue;
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
}

.sidebar .dashboard1{
    display: flex;
}

.dashboard1 > img{
    height: 3.5rem;
    width: auto;
}

.sidebar .dashboard2 > div{
    display: flex;
}

.dashboard2 > div > img{
    height: 3rem;
    width: auto;
}

.sidebar .dashboard3 > div{
    display: flex;
}

.dashboard3 > div > img {
    height: 3rem;
    width: auto;
}

.nav{
    grid-column: 2/3;
    display: flex;
    border: 1px solid blue;
    justify-content: space-between;
    padding-inline: 2.2rem;
    grid-row: 2/3;
}

.nav .perfil{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.perfil > img{
    height: 10rem;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

.perfil > div > p{
    font-size: 20px;
}

.perfil > div > h2{
    font-size: 25px;
}

.nav .botones{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.botones button {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-inline: 2rem;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 1.1rem;
}

.article{
    grid-column: 2/3;
}